/* STRUTTURE */
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
}
.nav{
  background-color: #110101;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  width: 15%;
}
.main{
  background-image: linear-gradient(to right bottom, #851c1c, #6d151b, #540f18, #3c0b13, #270408);
  padding: 40px;
  position: relative;
  left: 15%;
  width: 85%;
  height: 1300px;
}

/* ESTETICA */
.white{
  color:white;
}
.bold{
  font-weight: bolder;
}
.center{
  text-align: center;
}
.grey{
  color: #dcdde1;
}


/* NAVBAR */
.search{
  padding: 20px 0;
}
.search i{
  padding: 15px 10px 0;
}

.nav button, footer button{
  display: block;
  padding: 5px;
  width: 180px;
  border-radius: 100px;
  margin: 20px 0;
  color: black;
}
.button2{
  background-color: #2f3640;
  border: 2px solid white;
  color: white!important;
}

.nav small{
  padding: 0 8px;
  text-align: justify;
  float: left;
}
.bordergrey{
  border-left: 1px solid grey;
}



.container-nomi{
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.row-flex{
  padding: 20px 0;
}
.container-flex-img{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-items img{
  margin: 5px 0;
  height: 200px;
}


footer{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.footbar1{
  padding: 10px;
  background-image: linear-gradient(to right, #e33fbf, #ac77f2, #5d9bff, #00b4ff, #12c5eb);
}
.footbar2{
  background-color: black;
  padding: 20px;
}
.footbar1 button{
  float: right;
  margin: 0;
  transform: translateY(-50px);
}
.footbar2 i{
  margin: 0 10px;
}
